
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    padding: 0px !important;
    overflow: hidden; /* a rolagem ficará escondida*/
}

.slider-content{
    width: 400%;
    height: 400px;
    display: flex;
}

.slider-content input {
    display: none;
}

.slide-box{
    width: 25%;
    position: relative;
}

.slide-box img{ 
    width: 800px;
}

.nav-manual{
    position: absolute;
    width: 800px;
    margin-top: 420px;
    justify-content: center;
    display: flex;
}

.manual-btn{
    border: 2px solid #051b4d;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.manual-btn:not(:last-child){
    margin-right: 15px;
}
.manual-btn:hover{
    background-color: #051b4d;;
}

#slide1:checked ~ .first{
    margin: 0%;
}
#slide2:checked ~ .first{
    margin-left: -25%;
}
#slide3:checked ~ .first{
    margin-left: -50%;
}