@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@font-face{
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
}

.corpo-principal{
    width: 100%;               /* Ocupa metade da largura da página */
    margin: left;           /* Centraliza horizontalmente */
    text-align: justify;      /* (Opcional) Justifica o texto */
    font-size: 1.0rem;
    line-height: 1.6;
    display: flex;
      
}

.div1, .div2 {
    width: 50%;
    padding: 20px;
}
.integrantes{
    padding: 10px 15px 5px 10px;
    width: 60%;               /* Ocupa metade da largura da página */
      margin: left;           /* Centraliza horizontalmente */
      text-align: justify;      /* (Opcional) Justifica o texto */
      font-size: 1.0rem;
      line-height: 1.6;
}

/*configuração do cabeçalho */

header {
    background-color: #187bcd;
    box-shadow: 0px 10px 20px #fbfdff;
}

/* posicionamento dos elementos do cabeçalho - o "rem" ajuda o site a ficar responsivo*/

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logoheader{
    width: 50px;
}
.logo h1 {
    color: #ffffff;
   
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-top: 20px;
}    

.nav-item { 
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #ffffff;
    font-weight: 400;
}

.login-button button {
    border: none;
    background-color: #17518a;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.login-button button a {
    color:#ffffff;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    margin-top: 20px;
}

.mobile-menu-icon {
    display: none;     
}

.mobile-menu {
    display: none;
}


 h1{
    font-family: 'Inter', sans-serif;
    font-size: 3.0rem;
    color: #051b4d;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px 15px 5px 10px;
}

 h2{
    font-size: 2.0;
    color: #cecece;
    margin-top: 0px;
    padding: 10px 15px 5px 10px;
}
h3{
    font-size: 1.5;
    color: #001036;
    margin-top: 0px;
    padding: 10px 15px 5px 10px;
}

.equipes{
    display: flex;
    size: 350px;
    position: flex;
    padding: 10px 15px 5px 10px;
}

.equipes  figcaption{
    opacity: 0;
    position: absolute;
    top:0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px 15px 5px 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

.equipes img{
        width: 100%;
        height: 100%;
}

.fotoequipe {
    display: flex;
    width: 350px;
    position: absolute;
    border:8px solid #17518a;
    box-shadow: 1px 1px 4px black;
    padding: 10px 15px 5px 10px;
}
.fotoequipe figcaption{
    opacity: 0;
    position: absolute;
    top:0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px 15px 5px 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

.fotoequipe img{
    width: 100%;
    height: 100%;
}



/* quando a tela tiver 730px, os links não aparecerão na barra maior*/
/*o flex-direction= column serve para deixar um item abaixo do outro*/
/*.mobile_menu .login-button button é para o botão ficar na página toda*/
/*.open{ display: open;} quando a classe for adicionada no menu ele vai aparecer*/

@media screen and (max-width: 730px) {
    .nav {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button{
        width: 100%;
    }

    .open{
        display: block;
    }
}